@charset "UTF-8";
body {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 0;
}
header section {
  background-color: #ff1a1a;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section #logoPage {
  width: 6%;
}
header section .informacionNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
}
header section .informacionNav h1 {
  margin: 0;
  color: white;
  font-weight: bold;
}
header section .informacionNav nav {
  text-align: center;
  /* Center the links horizontally */
}
header section .informacionNav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header section .informacionNav nav ul li {
  display: inline-block;
  margin-right: 20px;
}
header section .informacionNav nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
header section .informacionNav nav #menuToggle {
  background-color: #ff1a1a;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}
header section .informacionNav nav .show {
  width: 100%;
  height: 7vh;
  position: fixed;
  left: 0;
  background-color: red;
  z-index: 1;
  padding: 1rem;
}

main {
  background-color: #333;
}
main .carousel-inner > .item > img,
main .carousel-inner > .item > a > img {
  width: 75%;
  margin: auto;
}
main .nextRace {
  background-color: rgb(21, 21, 30);
}
main .nextRace .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
main .nextRace .title #bandera {
  width: 5%;
  border-radius: 0.5rem;
}
main .nextRace .title h4 {
  padding-left: 1rem;
}
main .nextRace .contenedor {
  display: flex;
}
main .nextRace .contenedor #pista {
  width: 50%;
}
main .nextRace .contenedor table {
  color: white;
  width: 50%;
  margin-right: 1rem;
}
main .nextRace #contador {
  display: flex;
  justify-content: center;
  gap: 30px;
}
main .nextRace .tiempo {
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 24px;
  width: 100px;
  text-align: center;
  background-color: #f0f0f0;
}
main .container .information {
  display: flex;
  /* Activa flexbox */
  flex-direction: column;
  /* Organiza los elementos en columna */
  justify-content: center;
  /* Centra verticalmente */
  align-items: center;
  /* Centra horizontalmente */
  width: 90%;
  /* Ajusta el ancho como ya está configurado */
  margin: 0 auto;
  /* Centra el contenedor dentro de su padre */
}
main .container .information h1 {
  font-weight: bold;
  border-top: 0.75rem solid black;
  border-right: 0.75rem solid black;
  border-top-right-radius: 1rem;
  width: 100%;
}
main .container .teams {
  display: flex;
}
main .container .teams .div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 1rem;
  border: 0.15rem solid black;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
main .container .teams .div1 .titleTeams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main .container .teams .div1 .titleTeams a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
main .container .teams .div1 .titleTeams a h3 {
  margin: 0 !important;
  padding-left: 1rem;
  font-weight: bold;
}
main .container .teams .div1 .pilotsContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
}
main .container .teams .div1 .pilotsContainer a {
  color: black;
  text-decoration: none;
  width: 100%;
}
main .container .teams .div1 .pilotsContainer a .pilots {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  border-bottom: 1px solid rgb(185, 185, 188);
  border-right: 1px solid rgb(185, 185, 188);
  border-bottom-right-radius: 1em;
}
main .container .teams .div1 .pilotsContainer a .pilots .nameContainer #name {
  margin: 0;
  font-size: 1.25rem;
}
main .container .teams .div1 .pilotsContainer a .pilots .nameContainer #lastName {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}
main .container .teams .div1 .custom-line {
  border: none;
  /* Elimina el estilo predeterminado de <hr> */
  border-top: 1px solid rgb(185, 185, 188);
  /* Línea superior gris clara */
  height: 1px;
  /* Grosor de la línea */
  background-color: transparent;
  /* Fondo transparente */
  margin: 1rem 0;
  /* Espaciado superior e inferior */
  width: 90%;
  /* Ajusta al contenedor */
}
main .container #teamsLogo {
  height: 4em;
  padding: 1rem 1rem;
}
main .information h1 {
  text-align: center;
  font-size: 5rem;
}
main .information p {
  text-align: center;
  font-size: 2rem;
}
main .race .teams .div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 90%;
  border: 0.25rem solid black;
  border-radius: 1rem;
}
main .race .teams .div2 .titleRace {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
main .race .teams .div2 .titleRace .date {
  display: flex;
  flex-direction: column;
}
main .race .teams .div2 .titleRace .date h3 {
  margin: 0;
  font-weight: bold;
}
main .race .teams .div2 .titleRace .date #dates {
  font-size: 28px;
}
main .race .teams .div2 .titleRace .date #month {
  color: white;
  background-color: black;
  border-radius: 1rem;
  text-align: center;
  font-size: 18px;
}
main .race .teams .div2 .titleRace #flag {
  height: 4rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}
main .race .teams .div2 a {
  text-decoration: none;
  color: black;
}
main .race .teams .div2 a .raceContainer {
  width: 90%;
  margin: 1rem;
}
main .race .teams .div2 a .raceContainer h3 {
  font-weight: bold;
}
main .race .teams .div2 #circuit {
  width: 50%;
}
main .raceWeekend {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .raceWeekend h3 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}
main .raceWeekend .stages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .raceWeekend .stages .sakhir {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 40%;
  border: 1px solid black;
  border-radius: 1rem;
}
main .raceWeekend .stages .p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 40%;
  border: 1px solid black;
  border-radius: 1rem;
}
main .raceWeekend .stages .date {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .raceWeekend .stages .date #dates {
  margin: 0 0.25rem 0 0;
  font-size: 2.5rem;
}
main .raceWeekend .stages .date #month {
  color: white;
  background-color: black;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.25rem;
  margin: 0 0 0 0.25rem;
}
main .raceWeekend .stages .stage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .raceWeekend .stages .stage h3 {
  font-weight: bold;
}
main .raceWeekend .stages .stage #time {
  padding-top: 1rem;
}
main .raceWeekend .stages .bestTime {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .raceWeekend .stages .bestTime h3 {
  font-weight: bold;
}
main .raceWeekend .stages .bestTime .pilot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .raceWeekend .stages .bestTime .pilot h4 {
  padding: 0 0.25rem 0 0.25rem;
}
main .raceWeekend .stages .bestTime .pilot #number {
  margin: 0.5rem 0 0 0;
  font-weight: bold;
}
main .raceWeekend .stages .bestTime .pilot #name {
  margin: 0.5rem 0 0 0;
  font-size: 1.5rem;
}
main .raceWeekend .stages .bestTime .pilot #surname {
  margin: 0.5rem 0 0 0;
  font-weight: bold;
}
main .raceWeekend .stages .bestTime p {
  margin: 0.5rem 0 0.5rem 0;
}
main .raceWeekend .raceInformation .pista {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .raceWeekend .raceInformation .pista .title {
  margin: 1rem 0 2rem 0;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .raceWeekend .raceInformation .pista .title h2 {
  margin: 0;
  text-align: center;
}
main .raceWeekend .raceInformation .pista .title #flag {
  width: 7%;
  border-radius: 0.5rem;
  border: 1px solid black;
}
main .raceWeekend .raceInformation .pista .contenedor {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .raceWeekend .raceInformation .pista .contenedor .conteiner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}
main .raceWeekend .raceInformation .pista .contenedor .conteiner .info {
  width: 95%;
  margin: 0 0 1rem 0;
  padding: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid lightgrey;
  border-radius: 1rem;
}
main .raceWeekend .raceInformation .pista .contenedor .conteiner .info .distance {
  width: 100%;
  margin: 0.25rem 0 1rem 0;
  display: flex;
}
main .raceWeekend .raceInformation .pista .contenedor .conteiner .info .distance #info {
  margin: 0;
}
main .raceWeekend .raceInformation .pista .contenedor .conteiner .info .distance #unit {
  padding-left: 1rem;
  font-size: 1.5rem;
}
main .raceWeekend .raceInformation .pista .contenedor .conteiner .info #title {
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}
main .raceWeekend .raceInformation .pista .contenedor .conteiner .info #info {
  margin: 0.25rem 0 1rem 0;
  font-size: 3rem;
  font-weight: bold;
}
main .raceWeekend .raceInformation .pista .contenedor .conteiner .div1 {
  grid-row-start: 2;
}
main .raceWeekend .raceInformation .pista .contenedor .conteiner .div2 {
  grid-row-start: 2;
}
main .raceWeekend .raceInformation .pista .contenedor .conteiner .div3 {
  grid-column: span 2/span 1;
  width: auto;
  padding-right: 1rem;
}
main .raceWeekend .raceInformation .pista .contenedor #circuito {
  width: 90%;
}
main .raceWeekend .race2024 {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .raceWeekend .race2024 .parent {
  margin: 2rem 0 2rem 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .raceWeekend .race2024 .parent .position {
  padding: 0 0.25rem 0 0.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
main .raceWeekend .race2024 .parent .position #position {
  width: 10%;
}
main .raceWeekend .race2024 .parent .position #name {
  width: 50%;
  padding-left: 0.75rem;
}
main .raceWeekend .race2024 .parent .position #points {
  width: 20%;
}
main .raceWeekend .race2024 .parent .position img {
  width: 20%;
}
main .raceWeekend .race2024 .divConteiner {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}
main .raceWeekend .race2024 .divConteiner .div3 {
  margin: 0 0 1rem 0;
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid lightgrey;
  border-radius: 1rem;
}
main .raceWeekend .race2024 .divConteiner .div3 .distance {
  width: 100%;
  display: flex;
  align-items: center;
}
main .raceWeekend .race2024 .divConteiner .div3 .distance #info {
  margin: 0.25rem 0.5rem 1rem 0;
  font-size: 3rem;
  font-weight: bold;
}
main .raceWeekend .race2024 .divConteiner .div3 .distance #unit {
  margin: 0 0 0 0.5rem;
  font-size: 1.5rem;
}
main .raceWeekend .race2024 .divConteiner .div3 #title {
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}
main .raceWeekend .race2024 .container2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 90%;
  margin: 1rem 0;
  padding: 0;
}
main .raceWeekend .race2024 .container2 .podium__item .podium__city {
  text-align: center;
  padding: 0 0.5rem;
}
main .raceWeekend .race2024 .container2 .podium__item .podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #fff;
}
main .raceWeekend .race2024 .container2 .podium__item p {
  font-weight: bold;
  font-size: 1.5rem;
}
main .raceWeekend .race2024 .container2 .podium__item #logo {
  width: 50%;
}
main .raceWeekend .race2024 h2 {
  text-align: center;
}
main .raceWeekend .race2024 h5 {
  margin: 2rem 0 0 0;
  width: 90%;
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
}
main .contact-section .contact-info {
  font-family: "Noto Serif", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contact-section .contact-info h2 {
  font-size: 5rem;
  font-weight: bold;
}
main .contact-section .contact-info p {
  width: 80%;
  font-size: 1.5rem;
}
main .contact-section .contact-info p a {
  text-decoration: none;
  color: red;
}
main .images {
  font-family: "Noto Serif", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .images .card .row {
  display: flex !important;
  flex-direction: row;
  width: 100%;
}
main .images .card .row .col-md-4 {
  width: 100% !important;
}
main .images .card .row .col-md-4 img {
  width: 100%;
}
main .images .card .row .col-md-8 {
  width: 100% !important;
}
main .images .card .row .col-md-8 .card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .images .card .row .col-md-8 .card-body .card-title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}
main .images .card .row .col-md-8 .card-body .card-text {
  font-size: 1.5rem;
}
main .escuderiasBanner {
  height: 90vh;
  width: 100%;
  background-image: url("../img/McLaren Banner.jpg"); /* Si usas una imagen de fondo para el hero */
  background-color: #6a6a6a;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .escuderiasBanner .tituloBanner {
  text-align: center;
  max-width: 800px;
  padding: 0 20px;
}
main .escuderiasBanner .tituloBanner h1 {
  color: white;
  font-size: 4em; /* Ajusta el tamaño según tu diseño */
  margin-bottom: 0.2em; /* Reduce el espacio entre título y subtítulo */
}
main .escuderiasBanner .tituloBanner p {
  color: white;
  font-size: 1.5em;
  font-weight: 300; /* Hace que el texto se vea más delgado y limpio */
  opacity: 0.9; /* Opcional: un ligero desvanecimiento */
}
main .informacionEscuderias {
  margin: 0 10em 0 10em;
}
main .informacionEscuderias .origen h2 {
  color: rgb(255, 128, 0);
  margin-bottom: 0.5em;
}
main .informacionEscuderias .origen p {
  color: white;
}

.race .teams .div2:hover {
  border-color: #ff0000;
  /* Cambia el color del borde */
  transform: scale(1.05);
  /* Aumenta ligeramente el tamaño */
  cursor: pointer;
  /* Cambia el cursor a una mano */
}

.race .teams .div2 .raceContainer:hover {
  color: grey;
  /* Cambia el color del borde */
  transform: translateY(-5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

main .raceWeekend .raceInformation .pista .conteiner .info:hover {
  border-color: #ff0000;
  /* Cambia el color del borde */
  transform: scale(1.05);
  /* Aumenta ligeramente el tamaño */
  cursor: pointer;
  /* Cambia el cursor a una mano */
}

.div3:hover {
  border-color: #ff0000 !important;
  /* Cambia el color del borde */
  transform: scale(1.05);
  /* Aumenta ligeramente el tamaño */
  cursor: pointer;
  /* Cambia el cursor a una mano */
}

main .raceWeekend .stages .p1:hover {
  border-color: #ff0000;
  /* Cambia el color del borde */
  transform: scale(1.05);
  /* Aumenta ligeramente el tamaño */
  cursor: pointer;
  /* Cambia el cursor a una mano */
}

main .raceWeekend .stages .sakhir:hover {
  border-color: #ff0000;
  /* Cambia el color del borde */
  transform: scale(1.05);
  /* Aumenta ligeramente el tamaño */
  cursor: pointer;
  /* Cambia el cursor a una mano */
}

.podium .first {
  min-height: 15rem;
  background: #858585;
  margin: 0 0.5rem 0 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.podium .second {
  min-height: 10rem;
  background: #8d8d8d;
  margin: 0 0.5rem 0 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.podium .third {
  min-height: 5rem;
  background: #a0a0a0;
  margin: 0 0.5rem 0 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.mclaren {
  border-left: 0.75rem solid rgb(255, 128, 0) !important;
}

.ferrari {
  border-left: 0.75rem solid rgb(232, 0, 32) !important;
}

.redbull {
  border-left: 0.75rem solid rgb(54, 113, 198) !important;
}

.mercedes {
  border-left: 0.75rem solid rgb(39, 244, 210) !important;
}

.astonmartin {
  border-left: 0.75rem solid rgb(34, 153, 113) !important;
}

.alpine {
  border-left: 0.75rem solid rgb(0, 147, 204) !important;
}

.haas {
  border-left: 0.75rem solid rgb(182, 186, 189) !important;
}

.rb {
  border-left: 0.75rem solid rgb(102, 146, 255) !important;
}

.williams {
  border-left: 0.75rem solid rgb(100, 196, 255) !important;
}

.kicksauber {
  border-left: 0.75rem solid rgb(0, 0, 0) !important;
}

#mclarenTitle:hover {
  color: rgb(255, 128, 0);
  /* Cambia el color del borde */
  transform: translateX(5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

#ferrariTitle:hover {
  color: rgb(232, 0, 32);
  /* Cambia el color del borde */
  transform: translateX(5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

#redbullTitle:hover {
  color: rgb(54, 113, 198);
  /* Cambia el color del borde */
  transform: translateX(5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

#mercedesTitle:hover {
  color: rgb(39, 244, 210);
  /* Cambia el color del borde */
  transform: translateX(5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

#astonmartinTitle:hover {
  color: rgb(34, 153, 113);
  /* Cambia el color del borde */
  transform: translateX(5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

#alpineTitle:hover {
  color: rgb(0, 147, 204);
  /* Cambia el color del borde */
  transform: translateX(5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

#haasTitle:hover {
  color: rgb(182, 186, 189);
  /* Cambia el color del borde */
  transform: translateX(5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

#rbTitle:hover {
  color: rgb(102, 146, 255);
  /* Cambia el color del borde */
  transform: translateX(5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

#williamsTitle:hover {
  color: rgb(100, 196, 255);
  /* Cambia el color del borde */
  transform: translateX(5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

#kicksauberTitle:hover {
  color: rgb(150, 150, 150);
  /* Cambia el color del borde */
  transform: translateX(5px);
  /* Mueve el título hacia arriba */
  cursor: pointer;
  /* Cambia el cursor a una mano */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Transición suave */
}

.custom-line {
  border: none;
  /* Elimina el estilo predeterminado de <hr> */
  border-top: 1px solid rgb(185, 185, 188);
  /* Línea superior gris clara */
  height: 1px;
  /* Grosor de la línea */
  background-color: transparent;
  /* Fondo transparente */
  margin: 1rem 0;
  /* Espaciado superior e inferior */
  width: 90%;
  /* Ajusta al contenedor */
}

footer {
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  padding: 2rem;
}

@media (max-width: 600px) {
  nav ul {
    text-align: center;
    display: none;
    /* Hide nav list initially */
  }
  .nextRace .title #bandera {
    width: 10%;
    border-radius: 0.5rem;
  }
  .nextRace .contenedor {
    flex-direction: column;
    /* Apila los elementos en columna */
    align-items: center;
  }
  .nextRace .contenedor #pista {
    width: 100% !important;
  }
  .nextRace .contenedor table {
    width: 100%;
    /* Asegura que la tabla ocupe todo el ancho */
    font-size: 15px;
    /* Ajusta el tamaño del texto de la tabla */
  }
  .nextRace .tiempo {
    font-size: 18px;
    /* Reduce un poco el tamaño de fuente */
    width: 80px;
    /* Ajusta el ancho */
  }
  .nextRace #contador {
    gap: 15px;
    /* Reduce ligeramente el espacio entre contadores */
  }
  .teams {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .teams .div1 {
    width: 90% !important;
  }
  .teams .div1 .titleTeams {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .teams .div1 .titleTeams h3 {
    margin: 0 !important;
    padding-left: 1rem;
  }
  .teams .div1 .pilotsContainer {
    display: flex;
    width: 95%;
  }
  .teams .div1 .pilotsContainer .pilots {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid rgb(185, 185, 188);
    border-right: 1px solid rgb(185, 185, 188);
    border-bottom-right-radius: 1em;
  }
  .teams .div1 .pilotsContainer .pilots .nameContainer #name {
    margin: 0;
    font-size: 1.25rem;
  }
  .teams .div1 .pilotsContainer .pilots .nameContainer #lastName {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }
  .teams .div1 #monoplaza {
    width: 90%;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  #logoPage {
    width: 5% !important;
  }
  nav ul {
    text-align: center;
    display: none;
    /* Hide nav list initially */
  }
  main .nextRace .title #bandera {
    width: 7%;
    border-radius: 0.5rem;
  }
  main .race .teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .race .teams .div2 {
    width: 30%;
  }
  main .race .teams .div2 .titleRace #flag {
    height: 3rem;
  }
  main .race .teams .div2 .raceContainer {
    height: 50%;
  }
  main .race .teams .div2 .raceContainer h3 {
    font-weight: bold;
  }
  main .raceWeekend .race2024 .divConteiner {
    flex-direction: row;
  }
  main .raceWeekend .race2024 .divConteiner .div3 {
    margin: 0 1rem;
  }
  main .raceWeekend .race2024 .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (min-width: 769px) {
  #logoPage {
    width: 3% !important;
  }
  #menuToggle {
    display: none;
    /* Hide menu toggle on desktops */
  }
  .nextRace {
    padding-top: 1rem;
  }
  main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  main .container .teams {
    width: 90%;
  }
  main .container .teams .div1 .pilotsContainer {
    display: flex;
    flex-direction: row;
  }
  main .race .teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .race .teams .div2 {
    width: 20%;
  }
  main .race .teams .div2 .titleRace #flag {
    height: 3rem;
  }
  main .race .teams .div2 .raceContainer {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  main .race .teams .div2 .raceContainer h3 {
    font-weight: bold;
  }
  main .race .teams .div2 #circuit {
    width: 50%;
  }
  .raceWeekend .stages .sakhir {
    width: 40% !important;
  }
  .raceWeekend .stages .p1 {
    width: 30% !important;
  }
  .raceWeekend .stages .bestTime .pilot {
    flex-direction: row !important;
  }
  .raceWeekend .raceInformation .pista .contenedor {
    flex-direction: row !important;
  }
  .raceWeekend .raceInformation .pista .contenedor #circuito {
    width: 50% !important;
  }
  .raceWeekend .race2024 {
    width: 100%;
  }
  .raceWeekend .race2024 .container2 .podium__item {
    width: 30%;
  }
  .raceWeekend .race2024 .container2 .podium__item .podium__city p {
    font-size: 2.5rem;
  }
  .raceWeekend .race2024 .container2 .podium__item .podium__city #logo {
    width: 25%;
  }
  .raceWeekend .race2024 .parent {
    width: 80% !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .raceWeekend .race2024 .parent .position img {
    width: 10% !important;
  }
  .raceWeekend .race2024 .divConteiner {
    width: 100%;
    flex-direction: row !important;
    justify-content: center;
  }
  .raceWeekend .race2024 .divConteiner .div3 {
    width: 30%;
    margin: 0 1rem 0 1rem !important;
  }
  .raceWeekend .race2024 .divConteiner .div3 .distance {
    width: 100%;
  }
  .raceWeekend .race2024 h5 {
    width: 80% !important;
  }
}

/*# sourceMappingURL=style.css.map */
