body {
  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 200 to 800
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;

  margin: 0;
  padding: 0;

  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

h3 {
  margin: 0;
}



p {
  margin: 0;
}