@media (max-width: 600px) {
  nav ul {
    text-align: center;
    display: none;
    /* Hide nav list initially */
  }

  .nextRace {
    .contenedor {
      flex-direction: column;
      /* Apila los elementos en columna */
      align-items: center;

      #pista {
        width: 100% !important;
      }

      table {
        width: 100%;
        /* Asegura que la tabla ocupe todo el ancho */
        font-size: 15px;
        /* Ajusta el tamaño del texto de la tabla */
      }
    }

    .tiempo {
      font-size: 18px;
      /* Reduce un poco el tamaño de fuente */
      width: 80px;
      /* Ajusta el ancho */
    }

    #contador {
      gap: 15px;
      /* Reduce ligeramente el espacio entre contadores */
    }
  }

  .teams {
    display: flex;
    flex-direction: column;
    align-items: center;

    .div1 {
      width: 90% !important;

      .titleTeams {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        h3 {
          margin: 0 !important;
          padding-left: 1rem;
        }
      }

      .pilotsContainer {
        display: flex;
        width: 95%;

        .pilots {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;

          border-bottom: 1px solid rgb(185 185 188);
          border-right: 1px solid rgb(185 185 188);
          border-bottom-right-radius: 1em;

          .nameContainer {
            #name {
              margin: 0;
              font-size: 1.25rem;
            }

            #lastName {
              margin: 0;
              font-size: 2rem;
              font-weight: 600;
            }
          }
        }
      }

      .custom-line {
        border: none;
        /* Elimina el estilo predeterminado de <hr> */
        border-top: 1px solid rgb(185 185 188);
        /* Línea superior gris clara */
        height: 1px;
        /* Grosor de la línea */
        background-color: transparent;
        /* Fondo transparente */
        margin: 1rem 0;
        /* Espaciado superior e inferior */
        width: 90%;
        /* Ajusta al contenedor */
      }

      #monoplaza {
        width: 90%;
      }

      .mclaren {
        border-left: 0.75rem solid rgb(255, 128, 0) !important;
      }

      .ferrari {
        border-left: 0.75rem solid rgb(232, 0, 32) !important;
      }

      .redbull {
        border-left: 0.75rem solid rgb(54, 113, 198) !important;
      }

      .mercedes {
        border-left: 0.75rem solid rgb(39, 244, 210) !important;
      }

      .astonmartin {
        border-left: 0.75rem solid rgb(34, 153, 113) !important;
      }

      .alpine {
        border-left: 0.75rem solid rgb(0, 147, 204) !important;
      }

      .haas {
        border-left: 0.75rem solid rgb(182, 186, 189) !important;
      }

      .rb {
        border-left: 0.75rem solid rgb(102, 146, 255) !important;
      }

      .williams {
        border-left: 0.75rem solid rgb(100, 196, 255) !important;
      }

      .kicksauber {
        border-left: 0.75rem solid rgb(0, 0, 0) !important;
      }
    }
  }

  .race {
    .teams {
      .div2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        width: 90%;
        border: 0.25rem solid black;
        border-radius: 1rem;

        .titleRace {
          width: 90%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 0 1rem 0;

          .date {
            display: flex;
            flex-direction: column;

            h3 {
              margin: 0;
              font-weight: bold;
            }

            #dates {
              font-size: 28px;
            }

            #month {
              color: white;
              background-color: black;
              border-radius: 1rem;
              text-align: center;
              font-size: 18px;
            }
          }

          #flag {
            height: 4rem;
            border-radius: .5rem;
            border: 1px solid black;
          }
        }

        .custom-line {
          border: none;
          /* Elimina el estilo predeterminado de <hr> */
          border-top: 1px solid rgb(185 185 188);
          /* Línea superior gris clara */
          height: 1px;
          /* Grosor de la línea */
          background-color: transparent;
          /* Fondo transparente */
          margin: 1rem 0;
          /* Espaciado superior e inferior */
          width: 90%;
          /* Ajusta al contenedor */
        }

        .raceContainer {
          width: 90%;

          h3 {
            font-weight: bold;
          }
        }

        #circuit {
          width: 50%;
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  nav ul {
    text-align: center;
    display: none;
    /* Hide nav list initially */
  }
}

@media (min-width: 769px) {
  #menuToggle {
    display: none;
    /* Hide menu toggle on desktops */
  }
}